<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="autocustomergroup">
            <group id="ukvat" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>UK VAT Scheme</label>
                <comment><![CDATA[
                    <div>
                        <p>For a detailed description of the configuration options below, please consult the <a href="https://github.com/gwharton/module-autocustomergroup-uk" target="_blank">
                            UK VAT Scheme Addon Module homepage on Github</a>.</p>
                    </div>
                    ]]></comment>
                <depends>
                    <field id="autocustomergroup/general/enabled">1</field>
                </depends>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="frontendprompt" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Tax Identifier Field - Customer Prompt</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="validate_online" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Validate Online</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Environment</source_model>
                    <depends>
                        <field id="validate_online">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="registrationnumber" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>VAT Registration Number</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="importthreshold" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Import VAT Threshold (GBP)</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="usemagentoexchangerate" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Use Magento Exchange Rate</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="exchangerate" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Exchange Rate</label>
                    <depends>
                        <field id="usemagentoexchangerate">0</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="importthresholdstorecurrency" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1">
                    <label>Import VAT Threshold (Store Base Currency)</label>
                    <frontend_model>UkVatImportThresholdStoreBaseCurrency</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="domestic" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Customer Group - Domestic</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="intraeub2b" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Customer Group - Intra-EU B2B</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="intraeub2c" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Customer Group - Intra-EU B2C</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="importb2b" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Customer Group - Import B2B</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="importtaxed" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Customer Group - Import Taxed</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="importuntaxed" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Customer Group - Import Untaxed</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
